<h1 class="text-center my-4">Cinemas</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a href="/Cinema/MoviesByCinema?cinemaId=@item.Id" class="btn btn-link">All Movies</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
